.container{
width: 100%;
display: flex;
justify-content: space-between;
gap: 15px;

}

.container .box{
    width: 580px;
    height: 300px;
    background: #000;
    transition: ease-in-out 5s;
    background-position: top;
    border-radius: 10px;
}

.container .box.box1{
background: url(../../src/assets/yoku.jpg);
background-size: cover;

}
.container .box.box2{
background: url(../../src/assets/toy.jpg);
background-size: cover;
}
.container .box.box3{
background: url(../../src/assets/chef.jpg);
background-size: cover;
}
.container .box:hover{
    background-position: bottom;
}
.sub-container{
    margin-top: 300px;
    text-align: center;
    background-color: rgb(124, 27, 43);
    border-radius: 10px;
    color: rgb(243, 202, 22);
    padding: 10px;
}

@media only screen and (max-width: 600px){
    .container{
        display: flex;
        flex-direction: column;
        gap: 180px;
       
    }
    .container .box{
        width: fit-content;
        height: 300px;
        transition: ease-in-out 5s;
        background-position: top;
    }
    .sub-container{
        width: fit-content;
        padding: 5px;
    }
    .btn{
        width: fit-content;
        padding: 0;
        padding: 1px 4px;
      
    }
    
.container .box.box1{
    background: url(yoku.jpg);
    background-size: cover;
    
    }
    .container .box.box2{
    background: url(toy.png);
    background-size: cover;
    }
    .container .box.box3{
    background: url(chef.png);
    background-size: cover;
    }
    .container .box:hover{
        background-position: bottom;
    }
}